
.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime  strong{
  display: block;
  font-size: 0.785rem;
  line-height: 1.6;
}

.authorAndTime  time{
  display: block;
  font-size: 0.785rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  line-height: 0;
  border-radius: 2px;
}

.commentContent header:button {
  color: var(--red-500);
}

.commentBox p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 2px;
}

.commentBox footer button:hover {
  color: var(--gray-300);
}

.commentBox footer button sgv {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  padding: 0 0.25rem;
  content: "\2022";
}