.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
  transition: all ease-in-out 0.3;
}

.commentForm button {
  margin-top: 1rem;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.commentForm button:hover {
  background: var(--green-300);
  animation: pulse 1s;
  transition: all ease-in-out 0.3s;
}

.commentList {
  margin-top: 2rem;
}